<header>
    <nav class="text-gray-700 text-md flex justify-between items-center px-6 py-1 border-b"
        style="background: #456268; color: #f4f4f4">

        <div class="py-1 px-3 tracking-wide hover:bg-gray-900 text-xl sm:text-2xl font-mono">
            <a href="/">d<span class="text-xs">illon</span>k<span class="text-xs">elley</span></a>
        </div>

        <div class="justify-center text-xs sm:text-lg">
            <a class="pr-3 hover:bg-gray-900 h-7 px-1" href="/portfolio">portfolio</a>
            <a class="pr-3 hover:bg-gray-900 h-7 px-1" href="/blog">blog</a>
            <a class="pr-3 hover:bg-gray-900 h-7 px-1" href="/contact">contact</a>
        </div>
    </nav>
</header>