<header>
    <nav class="bg-gray-200 text-gray-700 text-md flex justify-between px-6 py-1 border-b">

        <div class="py-1 px-3 tracking-wide hover:bg-gray-100 text-xl sm:text-2xl font-mono">
            <a href="/">d<span class="text-xs">illon</span>k<span class="text-xs">elley</span></a>
        </div>

        <div class="flex items-center">
            <a class="pr-3 hover:bg-gray-100 h-7 px-1" href="/portfolio">portfolio</a>
            <a class="pr-3 hover:bg-gray-100 h-7 px-1" href="/blog">blog</a>
            <a class="pr-3 hover:bg-gray-100 h-7 px-1" href="/contact">contact</a>
        </div>
    </nav>
</header>