<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        description="Dillon Kelley. Web Developer, full-stack, freelance, krautrock, chicago, punk, cheap websites, wet piss, dc sniper">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>

<body class="antialiased bg-grey-100 w-screen overflow-hidden overflow-y-auto">

    {{>header}}

    <main class="w-screen h-screen my-1 px-8 my-3 flex flex-col items-center">

        <div class=" lg:w-3/5 text-grey font-hairline tracking-wide leading-loose container">
            <div class="markdown">
                {{{content}}}
            </div>
        </div>
    </main>

    {{>footer}}
    <script src="/assets/main.js"></script>
</body>

</html>