<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        description="Dillon Kelley. Web Developer, full-stack, freelance, krautrock, chicago, punk, cheap websites, wet piss, dc sniper">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/819e81d117.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link type="icon" href="/favicon.ico" />

</head>

<body class="antialiased  w-screen overflow-hidden overflow-y-auto transition-all" id="body">

    {{>header}}

    <main class="w-screen h-screen my-1 px-8 my-3 flex flex-col items-center">

        <div class=" w-full lg:w-3/5 text-grey font-hairline  tracking-wide leading-loose container p-1 rounded-lg">
            <div class="markdown">
                {{{content}}}
            </div>
        </div>
    </main>

    {{>footer}}

    <script src="/assets/main.js"></script>
</body>

</html>