---
layout: layouts/base.hbs
---
<div class="sm:flex  sm:justify-between ">

    <div class="justify-around">
        <p class="sm:text-2xl items-center flex-wrap my-3 md:my-24 w-4/5">
            <span class="text-2 xl sm:text-4xl font-bold">My name is
                Dillon. </span>I'm a
            developer based
            out of Chicago, Illinois. I create
            websites and web apps using modern technology that's mobile friendly. Recently, I've been interested in JAM
            Stack tools for building sites. Check out <a class="font-bold" href="/portfolio">my projects</a>
        </p>
    </div>
    <img class="rounded-lg md:w-1/2 sm:object-contain opacity-70" src="/imgs/chicago-dillon.jpg" alt="dillon kelley" />

</div>
{{{content}}}