---
title: Recent Projects
layout: layouts/base.hbs
---

<h1 class="">{{title}}</h1>
<div class="sm:flex mb-8 border-b-2  py-4" id="projects">
<div class="sm:w-1/2 p-2" id="project-description">
    <h2>Artist's portfolio w/ multiple galleries</h3>
    <br>
    <p>Simple and responsive photo gallery with a contact form. Features a responsive lightbox and images hosted on cloudinary.</p>
    <h3>Tech:</h3>
        <p>Gatsby.js, strapi CMS, netlify, heroku</p>
    <div class="flex justify-start">
    <a href="https://github.com/digthedill/ktown-website" target="_blank">the repo</a> ///
    <a href="https://karissatalanian.com/" target="_blank">the website</a>
    </div>
</div>
<div class="sm:w-1/2" id="project-photo">
    <a href="https://karissatalanian.com/" target="_blank">
    <img src="https://res.cloudinary.com/dilldog-industries/image/upload/v1608049604/dills-corner/karissa-gallery_jlaphs.jpg" alt="multidisciplinary artist" />
    </a>
</div>
</div>


<div class="sm:flex border-b-2 py-4" id="projects">
<div class="sm:w-1/2" id="project-photo">
<a href="https://pacific-wave-90389.herokuapp.com/" target="_blank">
    <img src="https://res.cloudinary.com/dilldog-industries/image/upload/v1608066855/dills-corner/weather-tones_mad13p.png" alt="weather synthesizer" />
    </a>
</div>
<div class="sm:w-1/2 md:text-right p-2" id="project-description">
    <h2>Weather app with synthesizer generator</h3>
    <br>
    <p>Weather app that uses the inputted location to generate a weather forecast, and synthesized audio reflecting the location's data</p>
    <h3>Tech:</h3>
        <p>Tone.js, Node, Heroku, Handlebars, pts.js</p>
    <a href="https://github.com/digthedill/weather-sequencer" target="_blank">View the repo</a>
    <a href="https://pacific-wave-90389.herokuapp.com/" target="_blank">View the website</a>
</div>
</div>
</div>



<div class="my-32 ">


<h1 class="text-3xl font-bold text-center mb-12 underline">Freelance Services:</h1>
<p class="text-xl tracking-wider leading-relaxed py-4 leading-loose">
I build websites. My sites are simple, designed to be mobile friendly, and reflective of the client's content. Since I am still launching myself as a freelancer, I promise to charge less than the easy to use website builders.
I have experience building (but am by no means limited to):
</p>
<ul class="list-disc text-xl font-bold tracking-widest italic">
<li>  photo gallery </li>
<li>  blog </li>
<li>  ecommerce site </li>
</ul>
<div class="text-center my-24">
<a href="/contact" class="text-gray-900 bg-yellow-100 hover:bg-blue-200 text-2xl px-6 py-2 rounded-full border-gray-900 border-2">Let's build your site!</a>
<div>
</div>
